/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}
body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
	margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
	font-size: 1em;
	text-align: center;
	margin: 10px 10px;
}
h2,
h3,
a {
	color: #000000;
}
h3 {
	
	margin-top: 20px;
	font-size: 1em;
	font-family: 'Roboto', sans-serif;
}
h2 {
	margin-top: 0;
    text-align: center;
}


a {
	text-decoration: none;
}
img {
	max-width: 100%;
	padding: 20px 10px;
}

hr {
	margin: 20px 20px;
	margin-top: 50px;
	margin-bottom: 10px;
	opacity: .3;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */


.nav li {
        border-radius: 0px;
        display: block;
        background: #ffffff;
        color: #000000;
        padding: 0px 10px;
        margin: 5px 0;
        text-transform: uppercase;
}
body h1 {
    text-align: center;
	font-size: 2em;
	margin: 15px 0;
    color: #000000;
    background: #f2f5f4;
    font-family: 'Roboto', sans-serif;
}
.main-nav {
	margin-top: 0;
    font-family: 'Roboto', sans-serif;
    background: #f2f5f4;
    font-size: 1.1em;
	padding: 10px 10px;
}
.main-nav a {
	text-align: center;
	display: block;
	padding: 10px 25px;
}

.main-nav a:hover {
	color: #13bcc2;
}

.nav-list {
	display: flex;
	justify-content: space-between;
	font-family: 'Roboto', sans-serif;
	padding: 10px 0px;
}

.footer-nav {
	margin: 0px 10px;
}
  
.home {
	display: none;
}
.portfolio {
	display: none;
}
.contact {
	display: none;
}
.skills-nav {
	display: none;
}

/* ---- Layout Containers ---- */
.title, .main {
    background-color: #ffffff;
    padding: 10px 10px;
	font-size: 1em;
}

.profile-image {
    display: block;
    margin: auto;
    padding: 30px 50px;
}

.paragraph1 {
	color:#6774ee;
}

.main-header {
	padding-top: 1em;
	padding-bottom: 1em;
    background: #f2f5f4;
}
.main-footer {
	text-align: center;
	background: #f2f5f4;
	padding: 30px 0;
	margin-top: 30px;
	margin-bottom: 0;
}
.col {
	padding-right: 1em;
	padding-left: 1em;
}


.main-footer p {
	padding: 5px 10px;
}

/* ---- Page Elements ---- */

.image:hover {
	opacity: 70%;
}
.image h2 p {
	margin: auto;
    padding: 1em;
	font-size: .75em;
}

.image h2 {
	font-size: 1.2em;
}

.skills-img {
	display: block;
    margin: auto;
}

ul.skills {
	padding: 0;
	text-align: center;
	vertical-align: middle;
  }
  
  .skills li {
	border-radius: 50px;
	display: block;
	background: rgb(50, 19, 224);
	color: white;
	padding: 10px 10px;
	margin: 15px auto;
	max-width: 30%;
  }


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {
	h1 {
		Justify-content: center;
		Align-items: center;
	}
	 .main-nav   {
		 display: flex;
		 flex-direction: column;
	 }
	 .nav {
		 display: flex;
		 flex-direction: row;
		 Justify-content: center;
	 }
	 .nav li {
		background: #f2f5f4;
		margin: 0;
	 }
	.profile-image  {
		width: 40%;
		padding: 50px 0;
	 }
	 .main-header {
		 display: flex;
		 padding: 0;
		 margin: 0;
	 }
	 .paragraph1 {
		order: -1;
		 display: flex;
		 flex-grow: 1;
		 text-align: left;
		 font-size: 1.2em;
		 padding: 10px 20px;
		 margin: 40px 0 0;
	 }
	 .main {
		 display: flex;
		 flex-direction: row;
		 Flex-wrap: wrap;
	 }
	 .image {
		 width: 50%;
	 }
	 .main-footer {
		 display: flex;
		 flex-direction: column;
	 }
	 .main-footer p {
		 padding: 0 130px;
	 }
	 p {
		 margin: 10px 45px;
	 }
	 .top {
		 display: none;
	 }
	 .home, .portfolio, .contact, .footer-nav, .skills-nav {
		display: flex;
		flex-direction: column;
	}
	.nav-list {
		display: flex;
		Justify-content: space-between;
		align-items: center;
	}
	.nav-item {
		margin-right: auto;
	}
	.nav-list a {
		padding: 0 20px;
	}
	
}



@media (min-width: 1024px) {
	.main-nav   {
		display: flex;
		flex-direction: row;
		padding: 20px 30px;
		align-items: center;
	}
	.main-nav a {
		padding: 0;
	}
	.student {
		margin-right: auto;
	}
	.main-header {
		display: flex;
		padding: 0 10px 40px 0;
		align-items: flex-start;
	}
	.paragraph1 {
		margin: 10px 10px;
		font-size: 1.4em;
	}
	.profile-image  {
		width: 50%;
		padding: 0 10px 10px 0;
	 }
	 .main {
		 display: flex;
		 align-items: center;
		 Justify-content: center;
	 }
	 p {
		 margin: 10px;
	 }
	 .image {
		width: 30%;
	}
	.main-footer {
		padding: 10px 10px 0;
	}
	.main-footer p {
		padding: 0 280px;
	}
	.footer-nav {
		display: flex;
		flex-direction: column;
	}
	.nav-list {
		display: flex;
		Justify-content: space-between;
		align-items: center;
		padding: 0;
	}
	.top {
		display: none;
	}
	.nav-item {
		margin-right: auto;
	}
	.nav-list a {
		padding: 10px 20px;
	}
	.paragraph2 {
		padding: 5px 150px;
	}
}